<%= error_messages_for 'function' %>

<div class="settings box tabular">
  <p><%= f.text_field :name, :required => true %></p>
  <p><%= f.text_field :description %></p>
  <p><%= f.check_box :hidden_on_overview %></p>
  <p><%= f.check_box :active_by_default %></p>
  <p><%= f.check_box :see_all_issues %></p>
</div>

<div class="visibility_tab">
  <h3><%= l(:permission_add_issues) %> / <%= l(:permission_edit_issues) %></h3>
  <div class="box tabular" id="limited_visibility">
    <fieldset>
      <legend><%= l(:text_involvement_explanation) %></legend>
      <%= render "functions/select_involved_roles", viewers: @function.authorized_viewer_ids, current_user_visibility_roles: [] %>
      <%= hidden_field_tag "function[authorized_viewers]", @function.authorized_viewers, :id => "authorized_viewers" %>
      <%= hidden_field_tag "current-role", @function.id %>
    </fieldset>
  </div>
</div>

<% if Redmine::Plugin.installed?(:redmine_comments) %>
  <div class="comments_tab">
    <h3><%= l(:functions_to_share_private_notes_with) %></h3>
    <div class="box tabular" id="private_notes">
      <fieldset>
        <p>
          <label><%= l(:text_private_notes_explanation) %></label>

          <% private_note_group_functions = PrivateNotesGroup.where(group_id: @function.id).map(&:function_id) %>

          <span style="display: inline-block;vertical-align: top;">
          <label class="block" style="padding-left:2em;">
          <%= radio_button_tag 'function[private_notes_group][]', 0, private_note_group_functions.empty?,
                               :id => 'role_all_functions_managed_on',
                               :data => { :disables => '.role_managed_function input' } %>
            <%= l(:label_can_share_private_note_with_all_roles) %>
          </label>
          <label class="block" style="padding-left:2em;">
            <%= radio_button_tag 'function[private_notes_group][]', 0, private_note_group_functions.present?,
                                 :id => 'role_all_functions_managed_off',
                                 :data => { :enables => '.role_managed_function input' } %>
            <%= l(:label_limit_private_note_visibility_to_these_roles) %>:
          </label>
          <span style="max-height: 300px;overflow: scroll;display: inline-block;">
            <% Function.sorted.where.not(id: @function.id).each do |f| %>
              <label class="block role_managed_function" style="padding-left:4em;cursor: pointer" title="<%= f.description %>">
                <%= check_box_tag 'function[private_notes_group][]', f.id, private_note_group_functions.include?(f.id), :id => nil %>
                <%= f.name %>
              </label>
            <% end %>
            <%= hidden_field_tag 'function[private_notes_group][]', '' %>
          </span>
        </span>

        </p>
      </fieldset>
    </div>
  </div>
  <%= javascript_tag do %>
    $(function() {
    if ((typeof $().select2) === 'function') {
    $('#function_private_notes_group').select2();
    }
    });
  <% end %>
<% end %>
