<%= error_messages_for 'function' %>

<div class="settings box tabular">
  <p><%= f.text_field :name, :required => true %></p>
  <p><%= f.check_box :hidden_on_overview %></p>
  <p><%= f.check_box :active_by_default %></p>
  <p><%= f.check_box :see_all_issues %></p>
</div>

<div class="visibility_tab">
  <h3><%= l(:permission_add_issues) %> / <%= l(:permission_edit_issues) %></h3>
  <div class="box tabular" id="limited_visibility">
    <fieldset>
      <legend><%= l(:text_involvement_explanation) %></legend>
      <%= render "functions/select_involved_roles", viewers: @function.authorized_viewer_ids, current_user_visibility_roles: [] %>
      <%= hidden_field_tag "function[authorized_viewers]", @function.authorized_viewers, :id => "authorized_viewers" %>
      <%= hidden_field_tag "current-role", @function.id %>
    </fieldset>
  </div>
</div>

<% if Redmine::Plugin.installed?(:redmine_comments) %>
  <div class="comments_tab">
    <h3><%= l(:functions_to_share_private_notes_with) %></h3>
    <div class="box tabular" id="private_notes">
      <fieldset>
        <p>
          <label><%= l(:text_private_notes_explanation) %></label>
          <%= select_tag "function[private_notes_group]",
                         options_for_select(
                           Function.sorted.where.not(id: @function.id).map { |f| [f.name, f.id] },
                           PrivateNotesGroup.where(group_id: @function.id).map(&:function_id)
                         ), multiple: true %>
        </p>
      </fieldset>
    </div>
  </div>
  <%= javascript_tag do %>
    $(function() {
    if ((typeof $().select2) === 'function') {
    $('#function_private_notes_group').select2();
    }
    });
  <% end %>
<% end %>
