<h3 class="title"><%= l(:label_functional_roles) %></h3>
<div>
  <% if @functions.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
    <table class="functions-table">
      <tr>
        <td class="main-column">
          <table class="list">
            <thead>
            <tr>
              <th><%= l(:field_name) %></th>
              <th><%= l(:field_description) %></th>
            </tr>
            </thead>
            <tbody>
            <% @functions.each do |function| %>
              <tr>
                <td>
                  <div class="involved-roles flex-container">
                    <% styles = viewers.include?(function.id.to_s) ? 'involved' : '' %>
                    <%= render "functions/visibility_role", function: function, styles: styles %>
                  </div>
                </td>
                <td>
                  <div class="flex-container">
                    <%= textilizable(function, :description) %>
                  </div>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td class="side-column">
          <table class="status-table">
            <tr>
              <%# Define style classes %>
              <% roles_status = [
                { label: :label_roles_selected_for_issue_with_members, style: 'disabled involved' },
                { label: :label_roles_selected_for_issue_without_members, style: 'disabled involved no-member' },
                { label: :label_roles_not_selected_for_issue_with_members, style: 'disabled' },
                { label: :label_roles_not_selected_for_issue_without_members, style: 'disabled no-member' }
              ] %>

              <% roles_status.each do |role| %>
                <td>
                  <div class="involved-roles flex-container">
                    <span class="role <%= role[:style] %>">
                      <span class="status-icon">
                        <i class="fa fa-check"></i><i class="fa fa-times"></i>
                      </span>
                      <i class="fa fa-lock"></i>
                    </span>
                  </div>
                </td>
                <td><%= l(role[:label]) %></td>
              <% end %>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  <% end %>
</div>
