<div style="margin-top: 25px;padding-top: 6px;">

  <div class="contextual">
    <%= link_to l(:label_role_new), new_function_path, :class => 'icon icon-add' %>
    <%= link_to l(:label_visibilities_report), visibilities_functions_path, :class => 'icon icon-summary' %>
  </div>

  <h2><%=l(:label_functional_roles)%></h2>

  <table class="list functional_roles">
    <thead>
      <tr>
        <th><%=l(:label_role)%></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% for role in @functional_roles %>
      <tr class="item">
        <td class="name"><%= content_tag('span', link_to(h(role.name), edit_function_path(role))) %></td>
        <td class="buttons">
          <%= reorder_handle(role) %>
          <%= delete_link function_path(role) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>

<%= javascript_tag do %>
  $(function() { $("table.functional_roles tbody").positionedItems({items: ".item"}); });
<% end %>
