<div style="margin-top: 25px;padding-top: 6px;">

  <div class="contextual">
    <%= link_to l(:label_role_new), new_function_path, :class => 'icon icon-add' %>
    <%= link_to l(:label_visibilities_report), visibilities_functions_path, :class => 'icon icon-summary' %>
  </div>

  <h2><%=l(:label_visibility_roles)%></h2>

  <table class="list">
    <thead>
      <tr>
        <th><%=l(:label_role)%></th>
        <th><%=l(:button_sort)%></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% reset_cycle %>
    <% @functional_roles.each do |role| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td class="name"><%= content_tag('span', link_to(h(role.name), edit_function_path(role))) %></td>
        <td align="center" style="width:15%;">
          <%= reorder_links('function', {controller: 'functions', action: 'update', id: role}, :put) %>
        </td>
        <td class="buttons">
          <%= delete_link function_path(role) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>
