<h3 class="title"><%= l(:label_functional_roles) %></h3>
<% hidden_functions = hidden_functions_for_tracker(@issue) %>
<div> 
  <% if @functions.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
  <table style="width:100%;">
    <tr>
      <td style="width:75%;">
        <table class="list">
          <thead>
            <tr>
              <th><%= l(:field_name) %></th>
              <th><%= l(:field_description) %></th>
            </tr>
          </thead>
          <% @functions.each do |function| %>
          <tr>
            <td>
              <div class='involved-roles' style='display: flex;'>
                 <span>                  
                  <% if hidden_functions.include?(function) %>
                  <% styles = "disabled" + (Function.available_functions_for(@project).include?(function) ? " quiet" : "" ) %>
                  <% else %>
                    <% styles = "disabled" + (Function.available_functions_for(@project).include?(function) ? " involved" : "" ) %>
                  <% end %>
                  <%= render "functions/visibility_role", :function => function, :styles => styles %>
                </span>
              </div>
            </td>
            <td>
              <div  style='display: flex;'>
                <%= textilizable(function, :description) %>
              </div>
            </td>
            </tr>
          <% end %>
          </table>
        </td>      
    </tr>
    <tr>
      <td style="width:25%;">
        <table style="vertical-align: top;">
          <tr>
            <td>
              <div class='involved-roles' style='display: flex;'>
                <% styles = "disabled" + ( " involved" ) %>
                <span class="role <%= styles %>">
                <span class=status-icon><i class=fa-icon-ok></i><i class=fa-icon-remove></i></span>
                  <i class="fa-icon-lock"></i>
                </span>               
              </div>
            </td>
            <td>
              <%= l(:label_role_activated_with_member_in_this_project) %>
            </td>                 
            <td>
              <div class='involved-roles' style='display: flex;'>
                <% styles = "disabled" + ( " involved" ) %>
                <span class="role <%= styles %> <%= 'no-member'%>">
                <span class=status-icon><i class=fa-icon-ok></i><i class=fa-icon-remove></i></span>
                <i class="fa-icon-lock"></i>
                </span>                
              </div>
            </td>
            <td>
              <%= l(:label_role_activated_without_member_in_this_project) %>
            </td>                   
            <td>
              <div class='involved-roles' style='display: flex;'>
                <% styles = "disabled" + ( " quiet" ) %>
                <span class="role <%= styles %>">
                <span class=status-icon><i class=fa-icon-ok></i><i class=fa-icon-remove></i></span>
                  <i class="fa-icon-lock"></i>
                </span>                
              </div>
            </td>
            <td>
              <%= l(:label_silent_role_for_this_tracker) %>
            </td>          
            <td>
              <div class='involved-roles' style='display: flex;'>
                <% styles = "disabled" + ( " " ) %>
                <span class="role <%= styles %>">
                <span class=status-icon><i class=fa-icon-ok></i><i class=fa-icon-remove></i></span>
                  <i class="fa-icon-lock"></i>
                </span>
              </div>
            </td>
            <td>
              <%= l(:label_role_inactive_with_member_in_this_project) %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <% end %>
</div>
