<%
   @project ||= @issue.project if @issue
   if @project.present?
     @functions = Function.available_functions_for(@project).sorted
   else
     @functions = Function.sorted
   end
   hidden_functions ||= []
%>

<p id=involved-roles-form class=involved-roles>
  <label><%= l(:label_involved_members) %></label>
  <% (@functions-hidden_functions).each do |function| %>
    <% styles = viewers.include?(function.id) ? 'involved ' : '' %>
    <% styles << (current_user_visibility_roles.include?(function) ? ' mine' : '') %>
    <%= render "functions/visibility_role", :function => function, :styles => styles %>
  <% end %>
  <% hidden_functions.each_with_index do |function, index| %>
    <%= link_to_function l('show_silent_roles'),
                         "$(this).closest('div').find('.hidden_function').toggle();toggle_name(this);return false;",
                         :class => 'toggle-hidden-functions',
                         :style => ''  if index==0  %>
    <%= '<BR>'.html_safe if index==0 %>
    <% styles = viewers.include?(function.id) ? 'involved ' : '' %>
    <% styles << (current_user_visibility_roles.include?(function) ? ' mine' : '') %>
    <% styles << ' hidden_function' %>
    <%= render "functions/visibility_role", :function => function, :styles => styles %>
  <% end %>
</p>

<script>
  $('.hidden_function').hide();
  function toggle_name(lnk_obj){
    lnk_obj.innerHTML = (lnk_obj.innerHTML == '<%= l('hide_silent_roles') %>') ? '<%= l('show_silent_roles') %>' : '<%= l('hide_silent_roles') %>' ;
  }
</script>
