<%= form_for(@organization, :url => "/organizations/memberships/#{@organization.id}/update_functions?project_id=#{@project.id}",
                      :as => :membership,
                      :remote => request.xhr?,
                      :method => :patch) do |f| %>
  <p>
    <% @functions.each do |function| %>
    <label>
      <%= check_box_tag('membership[function_ids][]',
                        function.id, @organization_functions.include?(function),
                        :id => nil) %> <%= function %>
    </label><br />
    <% end %>
  </p>
  <%= hidden_field_tag 'membership[function_ids][]', '', :id => nil %>
  <p>
    <%= submit_tag l(:button_save), :class => "small" %>
    <%= link_to_function l(:button_cancel),
                         "$('.organization-#{@organization.id}-roles').show();
                         $('#organization-#{@organization.id}-form').empty();
                         $('#organization-#{@organization.id}-visibility-form').empty();
                         return false;" if request.xhr? %>
  </p>
<% end %>
