<% selected_functions = Function.joins(:member_functions => {:member => :user}).where("organization_id = ? AND project_id = ?", o.id, @project.id).uniq %>

<div class='roles_checkboxes' style="float: left;">
  <p>
    <% Role.givable.sort_by(&:name).each do |role| %>
      <label><%= check_box_tag 'membership[role_ids][]', role.id, selected_roles.include?(role) %> <%=h role %></label><br />
    <% end %>
  </p>
</div>
<%= hidden_field_tag 'membership[role_ids][]', '' %>
<div class='functions_checkboxes' style="float: left;">
  <p>
    <% Function.all.sort_by(&:name).each do |function| %>
      <label><%= check_box_tag 'membership[function_ids][]', function.id, selected_functions.include?(function) %> <%=h function %></label><br />
    <% end %>
  </p>
</div>
<%= hidden_field_tag 'membership[function_ids][]', '' %>
