<div class='roles_checkboxes' style="float: left;">
  <p>
    <% Role.givable.permission_roles.sort_by(&:name).each do |role| %>
      <label><%= check_box_tag 'membership[role_ids][]', role.id, selected_roles.include?(role) %> <%=h role %></label><br />
    <% end %>
  </p>
</div>
<div class='roles_checkboxes' style="float: left;">
  <p>
    <% Role.givable.visibility_roles.sort_by(&:name).each do |role| %>
      <label><%= check_box_tag 'membership[role_ids][]', role.id, selected_roles.include?(role) %> <%=h role %></label><br />
    <% end %>
  </p>
</div>
<%= hidden_field_tag 'membership[role_ids][]', '' %>
