<% if !User.current.respond_to?(:can_see_detailed_project_homepage?) || User.current.can_see_detailed_project_homepage?(@project) %>

  <div class="members box">

    <h3>
      <%= l(:label_member_plural) %>
      <%= link_to l(:label_open_functions_activated_description), '#',
                  class: 'icon-only icon-help',
                  style: "margin-top: -3px;margin-left: 4px;",
                  title: l(:label_open_functions_activated_description),
                  onclick: "showModal('functions_description', '500px'); return false;" %>
    </h3>

    <%= render partial: 'projects/functions_description', locals: { functions: @project.functions.visible_on_project_overview.sorted } %>

    <% if Redmine::Plugin.installed?(:redmine_organizations) %>
      <% @users_by_function_and_organization = @project.users_by_function_and_organization %>
      <% if @users_by_function_and_organization.any? %>
        <p>
          <% @users_by_function_and_organization.keys.sort_by(&:position).each do |function| %>
          <div class="function">
            <div class="function_name" title="<%= function.description %>" style="cursor: pointer"><%= h function %></div>
            <div class="organizations">
              <% @users_by_function_and_organization[function].keys.sort_by(&:name).map do |org| %>
                <div class="organization">
                  <%= if org.new_record?
                        @users_by_function_and_organization[function][org].map { |u| link_to_user u }.join(", ").html_safe
                      else
                        link_to_organization(org, { :link_ancestors => false, :fullname => true }) +
                          content_tag(:span, " : #{@users_by_function_and_organization[function][org].map { |u| link_to_user u }.join(", ")}".html_safe,
                                      :class => "organization-members")
                      end.html_safe %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        </p>
      <% end %>
    <% end %>

  </div>

<% end %>
