<% role %>

<% @back = url_for(:controller=>"projects", :action=>"settings", :id=>@project, :tab=>"visibility") %>

<td><%= role.name %></td>

<td>
  <span id="role-<%= role.id %>-members">
    <% if role.members.any? #hack to make jquery see the <span> %>
      <%= role.members.sort_by(&:to_s).map{|u|link_to u.principal.name, user_path(u.principal), :class => u.principal.css_classes}.join(", ").html_safe %>
    <% else %>
      &nbsp;
    <% end %>
  </span>
  <%= form_for(role, :method => :post, #:remote => true,
               :url => { :controller => 'roles', :action => 'update', :id => role.id },
               :html => { :id => "role-#{role.id}-members-form", :class => 'hol' }) do |f| -%>
    <p><% @project.members.delete_if(&:blank?).sort_by(&:to_s).each do |user| %>
        <label><%= check_box_tag 'membership[user_ids][]', user.id, role.members.include?(user) %> <%=h user.user.try(:name) %></label><br />
      <% end %></p>
    <%= hidden_field_tag 'membership[user_ids][]', '' %>
    <p><%= submit_tag l(:button_change), :class => "small" %>
      <%= link_to_function l(:button_cancel), "toggleVisibilityForms(#{role.id}); return false;" %></p>
  <% end -%>
</td>

<td class="buttons">
  <%= link_to_function(l(:button_edit), "toggleVisibilityForms(#{role.id}); return false;",
                       :class => 'icon icon-edit') %>
</td>
