<%= form_for(:functions,
             :method => :put,
             :url => { :controller => 'functions',
                       :action => 'available_functions_per_project',
                       :project_id => @project.id },
             :html => { :id => "functions-form" }) do |f| -%>

  <div class='functions_checkboxes'>
    <p>
      <% Function.sorted.all.each do |function| %>
        <label><%= check_box_tag 'function_ids[]', function.id, @project.functions.include?(function) %> <%=h function %></label><br />
      <% end %>
    </p>
    <%= hidden_field_tag 'function_ids[]', '' %>
    <p><%= submit_tag l(:button_change), :class => "small" %></p>
  </div>

<% end %>
