<% @project.functions ||= Function.active_by_default %>
<% members_per_function = @project.members_per_function %>

<div class="limited_visibility_project_settings">
  <%= render 'projects/settings_functional_roles_tabs' %>

  <% case params[:nav] %>
  <% when 'defaults' %>
    <%= render 'projects/tab_selection_by_default' %>
  <% when 'silent' %>
    <%= render 'projects/tab_silent_functions' %>
  <% when 'init' %>
    <%= render 'projects/tab_copy_configuration' %>
  <% else %>
    <%= render 'projects/tab_activated_functions', members_per_function: members_per_function %>
  <% end %>
</div>
