<ul class="navigation">
  <li class="<%= "active" if params[:nav] == 'general' || params[:nav].blank? %>"><%= link_to l(:label_activated_roles), url_for(tab: 'functional_roles', nav: 'general') %></li>
  <li class="<%= "active" if params[:nav] == 'defaults' %>"><%= link_to l(:label_default_values), url_for(tab: 'functional_roles', nav: 'defaults') %></li>
  <li class="<%= "active" if params[:nav] == 'silent' %>"><%= link_to l(:label_silent_roles), url_for(tab: 'functional_roles', nav: 'silent') %></li>
  <li class="<%= "active" if params[:nav] == 'init' %>"><%= link_to l(:label_reset), url_for(tab: 'functional_roles', nav: 'init') %></li>
</ul>
