<%= form_for(:functions,
             :method => :put,
             :url => { :controller => 'functions',
                       :action => 'copy_functions_settings_from_project',
                       :project_id => @project.id }) do %>

  <fieldset class="box">
    <legend>Copier les paramètres d'un autre projet</legend>
    <p>
      <% projects = Project.active.where("id IN (?)", ProjectFunction.select(:project_id).group(:project_id).pluck(:project_id)).select(:id, :name, :identifier, :lft, :rgt).to_a
         projects -= [@project]
         if projects.any?
           options =
               ("<option value=''>Sélectionner un projet</option>" +
                   '<option value="" disabled="disabled">---</option>').html_safe
           options << project_tree_options_for_select(projects) do |p|
             { :value => p.id }
           end
           options = options.gsub('&nbsp;&#187;', '&nbsp;').html_safe %>
           <%= select_tag :project_from, options %>
           <%= submit_tag l(:button_copy) %>
        <% else %>

           <p>Aucun autre projet n'est configuré pour l'instant</p>

         <% end %>

    </p>
  </fieldset>
<% end %>

<%= form_for(:functions,
             :method => :put,
             :url => { :controller => 'functions',
                       :action => 'available_functions_per_project',
                       :project_id => @project.id },
             :html => { :id => "functions-form" }) do %>

  <fieldset class="box">
    <p>
      <label><%= l(:text_select_project_functional_roles) %></label>
      <%= select_tag :function_ids, options_for_select(Function.sorted.collect{|f| [f.name, f.id]}, Function.sorted.select{|f| @project.functions.present? ? @project.functions.include?(f) : f.active_by_default }.map(&:id)), {:multiple => true} %>
    </p>
    <p>
      <label>Rôles pré-cochés en fonction </label>
      <%= select_tag :autocheck_mode, options_for_select({"du rôle de l'utilisateur" => '1', "du tracker" => '2'}, @project.autochecked_functions_mode || '1') %>
    </p>
    <p><%= submit_tag l(:button_save) %></p>
  </fieldset>
<% end %>


<fieldset class="box">
  <h4><%= "Etat des rôles fonctionnels par tracker :" %></h4>

  <% if @project.functions.empty? %>
    <p>Veuillez tout d'abord confirmer les rôles fonctionnels actifs pour ce projet</p>
  <% else %>

    <%= form_for(:functions,
                 :method => :put,
                 :url => { :controller => 'functions',
                           :action => 'visible_functions_per_tracker',
                           :project_id => @project.id},
                 :html => {:id => "visibilities-form"}) do %>
      <div class="autoscroll">
        <table class="list visibilities">
          <thead>
          <tr>
            <th style="width: 200px;white-space: pre-line;vertical-align: middle;"></th>
            <% @project.trackers.sorted.all.each do |function| %>
              <th style="width: 100px;white-space:pre-line;vertical-align: middle;text-align: left;">
                <%= content_tag('span', h(function.name)) %>
              </th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% visible_functions_per_tracker, checked_functions_per_tracker = {}, {}
             @project.trackers.each { |t|  visible_functions_per_tracker[t.id] = []; checked_functions_per_tracker[t.id] = [] }
             ProjectFunctionTracker.joins(:project_function).includes(:project_function).where("project_id = ?", @project.id).each do |r|
               visible_functions_per_tracker[r.tracker_id] << r.project_function.function_id if r.visible
               checked_functions_per_tracker[r.tracker_id] << r.project_function.function_id if r.checked
             end
             %>
          <% functions = @project.functions.present? ? @project.functions : Function.active_by_default %>
          <% functions.sorted.each do |function| %>
            <tr class="<%= cycle('odd', 'even') %> visibility-<%= function.name.parameterize %>">
              <td class="name">
                <%= content_tag('span', h(function.name)) %>
              </td>
              <% @project.trackers.sorted.all.each do |tracker| %>
                <td style="text-align: left;">
                  <label>
                    <%= check_box_tag "function_visibility[#{tracker.id}][]", function.id, (visible_functions_per_tracker[tracker.id].include?(function.id)), :id => nil, :class => "function-#{function.id}" %>
                    Visible
                  </label>
                  <label style="display: block;" class="autocheck_checkbox">
                    <%= check_box_tag "function_activation[#{tracker.id}][]", function.id, (checked_functions_per_tracker[tracker.id].include?(function.id)), :id => nil, :class => "function-#{function.id}" %>
                    Coché
                  </label>
                </td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <p><%= check_all_links 'visibilities-form' %></p>
      <p><%= submit_tag l(:button_save) %></p>
    <% end %>
  <% end %>

</fieldset>

<script type="text/javascript">
  $(function() {
    $('select#function_ids').select2({
      containerCss: {width: '600px', minwidth: '600px'},
      width: 'style'
    });
    $('select#autocheck_mode').select2({
      containerCss: {width: '180px', minwidth: '180px'},
      width: 'style'
    });
    $('#project_from').select2();
  });
</script>
