<h2 style="margin-top: 10px;"><%= l(:label_silent_roles_by_tracker) %></h2>
<fieldset class="box">
  <% if @project.functions.empty? %>
    <p><%= l(:label_confirm_the_active_fuctional_roles_for_this_project_first)%></p>
  <% else %>

    <%= form_for(:functions,
                 :method => :put,
                 :url => {controller: 'functions',
                          action: 'visible_functions_per_tracker',
                          project_id: @project.id,
                          nav: 'silent'
                 },
                 :html => {:id => "visibilities-form"}) do %>
      <div class="autoscroll">
        <table class="list visibilities">
          <thead>
          <tr>
            <th style="width: 200px;vertical-align: middle;"></th>
            <% @project.trackers.sorted.find_each do |function| %>
              <th style="width: 100px;vertical-align: middle;text-align: left;">
                <%= content_tag('span', h(function.name)) %>
              </th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% visible_functions_per_tracker = {}
             @project.trackers.each { |t| visible_functions_per_tracker[t.id] = []; }
             ProjectFunctionTracker.joins(:project_function).includes(:project_function).where("project_id = ?", @project.id).each do |r|
               visible_functions_per_tracker[r.tracker_id] << r.project_function.function_id if visible_functions_per_tracker[r.tracker_id] && r.visible
             end
          %>
          <% functions = @project.functions.present? ? @project.functions : Function.active_by_default %>
          <% functions.sorted.each do |function| %>
            <tr class="visibility-<%= function.name.parameterize %>">
              <td class="name">
                <%= content_tag('span', h(function.name), :title => function.description, :style =>"cursor: pointer") %>
              </td>
              <% @project.trackers.sorted.find_each do |tracker| %>
                <td style="text-align: left;">
                  <label>
                    <%= check_box_tag "function_visibility[#{tracker.id}][]", function.id, (visible_functions_per_tracker[tracker.id].include?(function.id) || visible_functions_per_tracker[tracker.id].blank?), :id => nil, :class => "function-#{function.id}" %>
                    Visible
                  </label>
                </td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <p><%= check_all_links 'visibilities-form' %></p>
      <p><%= submit_tag l(:button_save) %></p>
    <% end %>
  <% end %>

</fieldset>
