<% @project.functions ||= Function.active_by_default %>
<% members_per_function = @project.members_per_function %>

<%= form_for(:functions,
             :method => :put,
             :url => {:controller => 'functions',
                      :action => 'available_functions_per_project',
                      :project_id => @project.id},
             :html => {:id => "functions-form"}) do %>

  <fieldset class="box">
    <h2><%= l(:text_select_project_functional_roles) %></h2>

    <ul style="list-style: none;">
      <% Function.sorted.each do |function| %>
        <% activated = function.is_activated?(project: @project) %>
        <li>
          <label title="<%= function.description %>" style="cursor: pointer">
            <%= check_box_tag 'function_ids[]', function.id, activated %>
            <%= "#{function.name}#{" (#{members_per_function[function.id].to_i} membres)"}" %>
          </label>
        </li>
      <% end %>
    </ul>
    <p><%= check_all_links "functions-form" %></p> 
    <p><%= submit_tag l(:button_save) %></p>
  </fieldset>
<% end %>

<script type="text/javascript">
    $(function () {
        $('select#function_ids').select2({
            containerCss: {width: '600px', minwidth: '600px'},
            width: 'style'
        });
    });
</script>
