<script>
  $(function() {
    $('.role').on('click', function() {
      if (!$(this).hasClass('disabled')){
        $(this).toggleClass('involved');
        var authorized = [];
        $('#involved-roles .role.involved').each(function() {
          authorized.push($(this).data('filter'))
        });
        $('#role_authorized_viewers').val('|' + authorized.join('|') + '|');
        $('#issue_authorized_viewers').val('|' + authorized.join('|') + '|');

        // Update disable class TODO this behaviour should be double-checked
        if($('#involved-roles .role.involved.mine').length!==1){
          $('#involved-roles .role.mine').removeClass('disabled');
        }else{
          $('#involved-roles .role.involved.mine').addClass('disabled');
        }
      }
    })
  });
</script>

<p id=involved-roles class=involved-roles>
  <label><%= l(:label_involved_members) %> : </label>
  <% Role.visibility_roles.sorted.each do |role| %>
    <% role_is_involved = viewers.split('|').include?(role.id.to_s) if viewers %>
    <% role_is_mine = @current_visibility_roles && @current_visibility_roles.include?(role) %>
    <% role_is_disabled = @role==role || (role_is_mine && viewers.split('|').reject!(&:blank?).try(:size)==1 && role_is_involved) %>
    <span class="role <%= role_is_disabled ? "involved disabled" : (role_is_involved ? 'involved' : '') %> <%= role_is_mine ? 'mine' : '' %>" data-filter="<%= role.id %>">
      <span class=status-icon><i class=fa-icon-ok></i><i class=fa-icon-remove></i></span>
      <%= role.name %>
      <i class=fa-icon-lock></i>
    </span>
  <% end %>
</p>

<%= hidden_field_tag "role[authorized_viewers]", "#{viewers}" %>
<%= hidden_field_tag "issue[authorized_viewers]", "#{viewers}" %>
